.container{
    height: 600px;
    width: 90%;
    background-color: aqua;
    display: grid;
    /* grid-template-columns: repeat(7,1fr); */
}
.item{
    height: 70px;
    width: 70px;
    background-color: green;
    /* margin:10px; */
    grid-row: 4/5;
}

.align{
}